<script>

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      var form = document.createElement('form')
      form.action = '/sessions'
      form.method = 'post'
      var authToken = document.createElement('input')
      authToken.type = 'hidden'
      authToken.name = 'authenticity_token'
      authToken.value = '<%= form_authenticity_token %>'
      var input = document.createElement('input')
      input.type = 'hidden'
      input.name = 'access_token'
      input.value = response.authResponse.accessToken
      form.appendChild(input)
      form.appendChild(authToken)
      document.body.appendChild(form)
      form.submit()
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '458062597998756',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.0' 
    });
      
    FB.AppEvents.logPageView();   
      
  };


  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

</script>

<style> 
  .hidden {
    display: none;
  }

  header {
    display: none;
  }
</style>
<main>
  <div class="logo">
    <%= image_tag 'logo.png', :class => 'logo-image' %>
  </div>
  <div class="main">
    <h1>Connect now and never miss an event again</h1>

    <fb:login-button 
      scope="public_profile,email,user_events,user_friends"
      onlogin="checkLoginState();">
      Connect
    </fb:login-button>
  </div>
</main>